body
    background: url(/img/bg.png)

input, textarea, button
    margin-bottom: 10px

.centered
    width: 20%
    height: 20%
    margin-top: 20%
    margin-left: 40%
    >button
        width: 100%